# Projeto 3 - Detector de fraudes bancarias utilizando Bayes com Clusterização

## Informações do Projeto

Prazo: 16/Nov até às 23:59.<br />
Grupo: José Hélio Paiva - Juliano Nassar<br /><br />
Entregamos via GitHub: 
* https://github.com/Juliano-Nassar/Cluster-Bayes

**Todos os arquivos necessários para utilizar o DataFrame estarão no GITHUB, a pasta esta compactada pois o DataFrame é muito Grande. É necessário descompactar a pasta.**

Estamos fazendo esse projeto com o intuito de aumentar nosso conhecimento em Naive Bayes e aprender um pouco de uma ferramenta que achamos que será útil em projetos futuros, além de pensarmos também em resolver um problema que está se tornando bem recorrente no meio bancário e acreditamos que se fizermos um bom trabalho com esse projeto isso pode significar uma porta nova se abrindo para um futuro estagio. <br /><br />
Como bons alunos de Ciência dos Dados, além do Naive Bayes que nos foi indicado pelo professor para fazer o projeto do detector de fraudes bancarias queremos utilizar também uma ferramenta nova, para deixar o projeto mais interessante e eficiente.

Encontramos nosso DataFrame em um site chamado Kaggle, indicado pelo nosso profesor Raul Ikeda (link do DataFrame: https://www.kaggle.com/ntnu-testimon/paysim1). Nesse projeto iremos utilizar nosso conhecimento, que já foi colocado a prova em outro projeto, sobre Naive Bayes, o qual iremos deixar um exemplo abaixo.

# def Bayes(ProbR,DICR,X):
    listaV=[]
    for i in PTET[1]:
        j=mpf(len(X))
        v=mpf(len(DICPT))
        cont2=ProbR
        for u in i:
            if u in DICR:

                cont2= cont2*DICR[u]

            else:
                cont2= cont2*(1/(j+v))

        listaV.append(cont2)
    return listaV
    
**(Exemplo retirado do projeto 2 de Ciência dos Dados de José Hélio Paiva Neto)**

Iremos também utilizar conhecimentos que estamos adquirindo agora de Clusterização, para nos permitir fazer a separação do nosso DataFrame em grupos, o que irá deixar nosso projeto bem mais eficiente.

Após validado, o seu protótipo poderá também capturar e classificar automaticamente as mensagens da plataforma.

In [22]:
#Importes
import math
import os.path
import pandas as pd
import json
from string import *
from random import shuffle
import sys
from mpmath import *

In [19]:
df=pd.read_excel('PS_20174392719_1491204439457_log.xlsx')

In [21]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,983964,C1231006815,1701360,16029636,M1979787155,0,0,0,0
1,1,PAYMENT,186428,C1666544295,212490,1938472,M2044282225,0,0,0,0
2,1,TRANSFER,1810,C1305486145,1810,0,C553264065,0,0,1,0
3,1,CASH_OUT,1810,C840083671,1810,0,C38997010,211820,0,1,0
4,1,PAYMENT,1166814,C2048537720,415540,2988586,M1230701703,0,0,0,0