# Pokemon Clustering

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
PokeData = pd.read_csv("Pokemon.csv")

n = int(len(PokeData)/5)
PokeData.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
def Legend(n):
    if n:
        return 1
    else:
        return 0
    
PokeData["Legendary"] = PokeData["Legendary"].apply(Legend)
PokeData.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0

In [4]:
PokeTeste = PokeData[:n]
PokeTreino = PokeData[n:]

In [5]:
StatsTreino = PokeTreino.loc[:,["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]]
StatsTeste = PokeTeste.loc[:,["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]]
StatsTreino.head()

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
160   61      84       65       70       70     70
161   91     134       95      100      100     80
162  106     110       90      154       90    130
163  106     190      100      154      100    130
164  106     150       70      194      120    140

In [6]:
from sklearn import svm
Classificador = svm.SVC(kernel='linear', C=1)
Classificador.fit(StatsTreino,PokeTreino["Legendary"])
len(Classificador.support_vectors_)

84

In [7]:
Teste = Classificador.predict(StatsTeste)


x = PokeTeste.Legendary
contador = 0
h = 0
for i in Teste:
    if i == x[h]:
        contador+=1
    h+=1
contador/len(x)

0.9375

In [8]:
Classificador = svm.SVC(kernel='rbf',C = 1e6)
Classificador.fit(StatsTreino,PokeTreino["Legendary"])

Teste = Classificador.predict(StatsTeste)


x = PokeTeste.Legendary
contador = 0
h = 0
for i in Teste:
    if i == x[h]:
        contador+=1
    h+=1
contador/len(x)

0.98125